body {
    margin: 0;
    font-family: Arial, sans-serif;
}

body,
.section {
    background-color: url('data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBw8NDw8PDw0NDQ0NDQ0NEA0NDQ8NDw8PFxUWFhURExMYHSggGBolGxUVITEhJSkrLi4uFx8zODMtNygtLisBCgoKDQwNFA0OECsdExkrKysrKysrKysrLSsrNy03Kys3KysrKysrKysrLSstKysrKysrKy0rLSsrKysrKysrK//AABEIAKwBJQMBIgACEQEDEQH/xAAXAAEBAQEAAAAAAAAAAAAAAAAAAQIH/8QAIxABAQACAAYCAwEAAAAAAAAAAAERIQIxQVFhoYGRweHwcf/EABQBAQAAAAAAAAAAAAAAAAAAAAD/xAAUEQEAAAAAAAAAAAAAAAAAAAAA/9oADAMBAAIRAxEAPwDuIAAAJbua1vfZQAAABJMa7d9goAAAAAAAAAAAAAAADN4rmTGrLbxZmrrEx539NAAACYUAAAAAAAAAAAAAAAAAAAAAAAAAEzvlrHP8KAAAAAJlQAAAABKoAAAAAAAAAkvrQCgAAAAAAACSKAAAAAAAigAAAAAAAAAAAFACAAAAAAYAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABMdeqgAAAACZUAAAAAAAAAAAAAAAAAAAAAAATiz0xnzpQAACkgAJPPP6UAAAAAAAAAAAEBQAAATPRQBMb5/HdQAAAAAAAAAAARQAAAAAAAAAAAAAABMqAAAAAAAAAFoAAAAAAABAAAAAAAAAAAAEoKAAAAAAAACWf3cFAABAUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEkx+9goAAAAAAAAigAAAAAAAAAAAAJj43nSgAAAAJw3P3YoACRQAAAAJQAEwoAAAAAAAUAAABLM9bP8AUAAAAABOLPTEuZzmdZ36UAAoAAAAAAAAAAAICiSe/KgAAAAIoAACVQAAAAB//2Q==');
    background-size: cover;
    background-position: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    height: 30px;
    width: auto;
}

.navbar .sticky {
    top: 0;
    position: relative;
    padding-left: 5rem;
    padding-right: 5rem;
    font-size: 20px;
    height: 2rem;
    justify-content: space-between;
    align-items: center;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 14px;
    background-color: #f4f3f3;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 33px;
    margin-right: 17px;
}

/* Styling untuk teks "Yarex" */
.logo-container span {
    font-size: 24px;
    font-weight: bold;
}

.hamburger {
    display: none;
    /* Sembunyikan hamburger menu pada resolusi desktop */
    font-size: 20px;
    /* Atur ukuran hamburger menu */
    margin-left: auto;
    border: none;
    cursor: pointer;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li:first-child {
    margin-left: 0;
}

a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease;
    font-size: 20px;
}

a:hover {
    color: #b5b5b5;
}

nav ul li a {
    color: black;
}

header {
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: #ffffff;
    height: 310px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 49px;
    background-image: url("img/background.jpg");
    background-position: top center;
    background-size: cover;
    padding-top: 50px;
    margin-bottom: 2%;
}

header h1 {
    font-size: 34px;
}

header p {
    font-size: 17px;
}

main {
    padding-top: 30px;
    /* Adjust for sticky header */

}

.grid-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-items: center;
    align-items: center;
}

.grid-section .container {
    padding: 10px 20px;
    text-align: center;
}

.grid-section .container h1 {
    font-size: 2em;
}

.section {
    padding: 50px 0;
}

footer {
    background-color: black;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

/* Responsive layout for Tablet */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        padding: 0 40px;
    }

    header .container,
    .section .container {
        flex-direction: row;
    }

    .grid-section img {
        width: 310px;
        height: 290px;
        margin-top: 3%;
    }

    .hamburger {
        display: none;
        /* Sembunyikan hamburger menu pada tablet jika tidak dibutuhkan */
    }

    nav ul {
        display: flex;
    }

    main {
        padding-top: 20px;
    }
}


/* Responsive Layout for Mobile Devices */
@media screen and (max-width: 760px) {
    .hamburger {
        display: block;
    }

    nav ul {
        display: none;
        flex-direction: row;
        width: 100%;
    }

    nav.active ul {
        display: block;
    }

    nav ul li {
        margin: 5px 0;
    }

    main {
        padding-top: 20px;
    }

    .grid-section img {
        width: 170px;
        height: 190px;
        margin-top: 3%;
    }

}
